{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
    <ul>
      <li>
        <a href="/users/form">Cadastro de usuários</a>
      </li>
      <li>
        <a href="/users/login"> Login de usuários</a>
      </li>
      
    </ul>
{% endblock %}
