{% extends 'layout.twig' %}

{% block body %}


<h1>Teste de XSS</h1>

<P>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas 
  facilis rem magni ex delectus, in qui, at recusandae eius neque numquam 
  aliquid totam officia temporibus maiores iusto nam, ipsam enim.</P>

<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vero dolore 
  distinctio! Nostrum dolorum, 
  fugit totam vel, pariatur ipsum obcaecati harum 
  facilis aliquid accusamus eius optio voluptatibus enim, dicta magnam?</P>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ea quam nam q
  uaerat quos perferendis fa
  cere earum? Libero quibusdam laboriosam explicabo fugit consectetur omnis,
   reiciendis veritatis a perferendis velit magni!</p>

{% endblock %}
